.FilmInstanceContainer {
  // display
  display: flex;
  flex-direction: column;
  // box-model
  height: 100vh;
}
.FilmInstanceOpenAside {
  // display
  display: flex;
  flex-direction: column;
}
.FilmInstanceAsideContainer {
  // display
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // box-model
  height: 100vh;
  padding: 0 calc(1.3 * var(--thick-padding)) 0 calc(1.3 * var(--thick-padding));
}

.FilmInstanceTopNav {
  // display
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // box-model
  margin: var(--thick-padding);
}

.FilmInstanceId {
  // display
  display: flex;
  flex-direction: column;
  // box-model
  margin: 0 var(--thick-padding);
}

.FilmInstanceInfo {
  // display
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  // box-model
  height: 20%;
  margin: 5% 0 5% 15%;
  margin-inline: auto;

  .FilmInstanceInfoButton {
    // type
    text-decoration: underline;
    text-decoration-thickness: 0.4rem;
  }
}

.FilmInstanceFilmPlayerWrapper {
  // box-model
  height: clamp(45em, 65%, 37.7rem);
  width: clamp(45em, 115.6375vh, 169.3rem);
}

.player-wrapper {
  // positioning
  position: relative;
  z-index: 2;
  // box-model
  height: 100%;
  margin: 0 var(--thick-padding);
}

.react-player {
  // positioning
  position: absolute;
  top: 0;
  left: 0;
}

.FilmInstanceBotNav {
  // display
  display: flex;
  justify-content: space-around;
  align-items: center;
  // box-model
  height: 40%;
  margin: 0 var(--thick-padding) var(--thick-padding) var(--thick-padding);
}
.FilmInstanceVimeo{
  height: 100%;
  display: flex;
  align-items: center;
}

aside {
  // positioning
  position: fixed;
  top: 0;
  // box-model
  width: 18.75rem;
  height: 100vh;
  z-index: 4;
  background-color: var(--clr-primary-900);
  // misc
  overflow: hidden;
  overflow-y: hidden;
}
