.form-container{
  //     border: rgb(96, 172, 216) 10px solid;
  //     border-radius: 15px;
  //     //MAKE GRID
  //         //design grid
          display: grid;

  //         //auto must align with the textbox
          grid-template-rows: repeat(2, minmax(0, 1fr)) auto repeat(3, minmax(0, 1fr)) auto repeat(2, minmax(0, 1fr));
          grid-template-columns: repeat(2, minmax(0, 1fr));
          grid-gap: .4rem;
  //         //create matrix
          grid-template-areas: 
          'FormName FormName'
          'FormEmail FormEmail'
          'error error'
          'FormCompany FormCompany'
          'FormBudget FormBudget'
          'FormStart FormEnd'
          'FormMessage FormMessage'
          'FormQuestion FormQuestion'
          'FormButton FormButton';
          
  //         //deal with
  //         // height: 80rem;
          padding: 1.8rem;
          padding-top: 0;
  //         overflow: scroll;
  //         // height: 10rem;
  
  //flexbox
  
  // justify-items: center;
  }

  .error{
    margin-top: -1rem;
    margin-bottom: -1rem;
    width: 15em;
    height: 1em;

    font-size: 4.1vw;
    line-height: 0.9;
    letter-spacing: 0.182em;
    font-weight: 600;
    font-style: italic;

    color: red;
    background-color: rgb(255, 175, 188);

    display:flex;
    justify-content:center;
    align-items:center;

    border-radius: 10px;


  }
  


.inputContainer{
  // background-color: rgba(203, 203, 203, 0.628);
  margin-bottom: 1em;

  display:grid;
  grid-template-rows: minmax(0, 2em) auto;
  
  grid-template-areas: 
        "formLabel"
        "input";

  

  &.form-label{
    grid-area: formLabel;
  }

  &.input{
    grid-area: input;
  }

  .form-message.input{
    // background-color: rgba(255, 131, 131, 0.227);
    resize: vertical;
    min-height: 5rem;
    padding-top: 10px;
    padding-left: 10px;
  }

  .form-start.input{
    // background-color: rgba(255, 131, 131, 0.227);
    resize: vertical;
    width: 96.5%;
    text-align: center;

    padding-left: 0px;
  }

  // .form-company{
  //     margin-top: -1em;
  // }

  .input{
    height: 3.25em;
  }

  &.name{ grid-area: FormName; }
  &.email{ grid-area: FormEmail; }
  &.company{ grid-area: FormCompany; margin-top: -.25em;}
  &.budget{ grid-area: FormBudget; }
  &.question{ grid-area: FormQuestion; }
  &.message{ grid-area: FormMessage; }
  &.start{ grid-area: FormStart;}
  &.end{ grid-area: FormEnd; }

  
}

.buttonContainer{
  // height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-area: FormButton;
}

.form-button{
// display: grid;

 height: 75%;
 width: 280%;
 margin-right: 10%;
justify-self: center;

//AESTETIC
  //font and color
  font-family: 'Arsenal', sans-serif;
  font-weight: lighter;
  font-size: 100%;
  color: #9293a1;
  border-radius: 30px;
  border: none;
}

.react-datepicker {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.8rem;
    background-color: rgb(115, 123, 134);
    border: 0px;
    border-radius: 0;
    display: inline-block;
    position: relative;
  }
  
  .react-datepicker__header {
    text-align: center;
    background-color: #3e82cf;
    border-bottom: 0px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-top: 8px;
    position: relative;
  
  }
  
  .react-datepicker__today-button {
    background: #82afe2;
    border-top: 0px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    padding: 5px 0;
    clear: left;
  }

  .form-label {
      //AESTETIC
                //font and color
                font-family: 'Arsenal', sans-serif;
                font-weight: bolder;
                // font-size: 140%;
                color: rgb(245, 245, 245);
                align-self: flex-end;
                font-size: 125%;
                padding-bottom: 0.4rem;
  }

  .input {
    border: none;
    background-color: #f7f7f7;
    border-radius: 6px;

    //AESTETIC
  //font and color
  font-family: 'Arsenal', sans-serif;
  font-weight: lighter;
  font-size: 100%;
  color: #9293a1;
  // border-radius: 30px;
  padding-left: 10px;
  border: none;
  }