.blue {
  // display
  display: flex;
  justify-self: center;
  align-self: flex-start;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  justify-items: center;
  align-content: flex-start;

  text-align: start;

  // box-model
  height: 75vh;
  width: clamp(32rem, 70vw, 40rem);
  margin: 0 auto;
  background-color: var(--clr-primary-900);
  // misc
  border-radius: 1.5rem;
  box-shadow: var(--clr-dark) 0.2rem 0.3rem 0.6rem 0.1rem;
}

#example {
  &.carousel.slide {
    text-align: start;
  }
}

.CarouselSlide {
  // display
  display: flex;
  flex-direction: column;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  justify-items: center;
  align-content: flex-start;
  //  box-model
  width: 100%;
}
@media (min-width: 50em) {
  .CarouselSlide {
    // display
    display: none;
  }
}

.control-arrow {
  // display
  display: flex;
  align-items: center;
  // box-model
  min-width: 25vw;
  &.control-next {
    // display
    justify-content: flex-end;
  }
  &.control-prev {
    // display
    justify-content: flex-start;
  }
}
