@use "../../App.scss";

.SampleContainer {
  // display
  display: flex;
  flex-direction: column;
  // align-items: center;
  // box-model
  gap: 3.5vh;
  padding: 0 0 3.5vh 0;
  background-color: var(--clr-primary-400);
}

.SamplePreviewContainers {
  // display
  display: grid;
  // align-items: center;
  // box-model
  gap: 3.5vh;
  padding: 0 0 3.5vh 0;
}

$max-col-count: 2;
@media (min-width: App.$media-300) {
  .SamplePreviewContainers {
    // display
    display: grid;
    // grid
    grid-auto-flow: column;
    gap: 2rem;
    margin: 0 2rem;
  }

  @for $i from 1 through $max-col-count {
    .SamplePreview:nth-child(#{$max-col-count}n + #{$i}) {
      grid-column: $i;
    }
  }
}
$max-col-count: 3;
@media (min-width: App.$media-600) {
  .SamplePreviewContainers {
    // display
    display: grid;
    // grid
    grid-auto-flow: column;
    gap: 3rem;
    margin: 0 3rem;
    background: rgba(0, 255, 38, 0.8);
  }

  @for $i from 1 through $max-col-count {
    .SamplePreview:nth-child(#{$max-col-count}n + #{$i}) {
      grid-column: $i;
    }
  }
}

// .SampleContainer > * {
//   background: hsl(200, 100%, 50%, 10%);
// }