@use "../../App.scss";

.SampleContainer {
  // display
  display: flex;
  flex-direction: column;
  // align-items: center;
  // box-model
  gap: 2rem;
  padding: 0 0 2rem 0;
  background-color: var(--clr-primary-400);
}

.SamplePreviewContainers {
  // display
  display: grid;
  // align-items: center;
  // box-model
  gap: 2rem;
  padding: 0 0 2rem 0;
}

// $max-col-count: 1;
// .SamplePreviewContainers {
//   // display
//   display: grid;
//     // grid
//     grid-auto-flow: column;
//     gap: 2rem;
//     margin: 0 2rem;
// }

// @for $i from 1 through $max-col-count {
//     .SamplePreview:nth-child(#{$max-col-count}n + #{$i}) {
//       grid-column: $i;
//     }
//   }

$max-col-count: 2;
@media (min-width: App.$media-300) {
  .SamplePreviewContainers {
    // display
    display: grid;
    // grid
    grid-auto-flow: column;
    gap: 2rem;
    margin: 0 2rem;
  }

  @for $i from 1 through $max-col-count {
    .SamplePreview:nth-child(#{$max-col-count}n + #{$i}) {
      grid-column: $i;
      background: rgba(0, 255, 38, calc($i * 0.2));
    }
  }
}
$max-col-count: 3;
@media (min-width: App.$media-600) {
  .SamplePreviewContainers {
    // display
    display: grid;
    // grid
    grid-auto-flow: column;
    gap: 3rem;
    margin: 0 3rem;
  }

  @for $i from 1 through $max-col-count {
    .SamplePreview:nth-child(#{$max-col-count}n + #{$i}) {
      grid-column: $i;
    }
  }
}

// .SampleContainer > * {
//   background: hsl(200, 100%, 50%, 10%);
// }
