.sample-container {
  display: grid;

  /* grid-template-columns: repeat(4, minmax(0, 1fr)); */
  margin:0;
  padding:0;
  grid-template-rows: minmax(0, .4fr) 8fr minmax(0, .8fr);
  grid-gap: 0.4rem;

  grid-template-areas:
    "header"
    "body"
    "footer";

  height: 115vh;
}

.head {
  background-color: rgb(107, 107, 255);
  grid-area: header;

  //AESTETIC
      //font and color
      font-family: 'Arsenal', sans-serif;
      font-weight: bolder;
      font-size: 160%;
      color: rgb(255, 247, 228);
      //alignment
      padding: 5%;

      //MAKE GRID
          //design grid
          display: grid;
          //minmax to prevent overflow
          grid-template-columns: repeat(2, minmax(0, 1fr));
          grid-gap: .5rem;
          //create matrix
          grid-template-areas: 
          "name menu";

          align-items: center;
          

          .sampleMenu{
              // display: flex;
              
              text-align: right;
              // justify-self: center;
          }
}

.bod {
  background-color: rgb(37, 37, 37);
  grid-area: body;

  display: flex;
  // justify-content: center;
  align-items: center;

  flex-direction: column;

  .vidContainer{

      background-color: rgb(85, 85, 143);

      height: 11em;
      width: 21.4em;
      margin-top: 1.5em;
      border-radius: 10px;

      .vid{

      //MAKE GRID
          height: 100%;
          //design grid
          display: grid;
          //minmax to prevent overflow
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr;
          grid-gap: .5rem;
          //create matrix
          grid-template-areas: 
          "vid vid"
          "title date";

          // justify-content:center;
          align-items:flex-end;

          .img{
              //ASSIGN GRID AREA
                  //start
                  grid-row-start: vid;
                  grid-column-start: vid;
                  //end
                  grid-row-end: date;
                  grid-column-end: date;

                  position: relative;
                  z-index: 1;

              //Aes
                  width:100%;
                  height: 100%;
                  // opacity: 50%;
                  border-radius: 10px;
          }

          &.isHovered{
              .title{
                  opacity: 0;
                  transition: opacity .5s ease-in-out;
              }
              .day{
                  opacity: 0;
                  transition: opacity .5s ease-in-out;
              }
              .banner{
                  opacity: 0;
                  transition: opacity 2s ease-in-out;
              }
          }

          .title{
              grid-area: title;
              padding-left: 5%;
              padding-bottom: 2%;

              position: relative;
              z-index: 3;

              opacity: 100;
              transition: opacity .25s ease-in-out;

              //AESTETIC
                  //font and color
                  font-family: 'Times New Roman', sans-serif;
                  font-weight: lighter;
                  font-size: 100%;
                  color: rgb(245, 216, 0);
                  text-shadow: 1px 1px 2px rgba(206, 146, 42, 0.57);
          }

          .day{

              opacity: 100;
              transition: opacity .25s ease-in-out;

              grid-area: date;
              text-align: right;
              padding-right: 5%;
              padding-bottom: 2%;

              position: relative;
              z-index: 3;

              //AESTETIC
                  //font and color
                  font-family: 'Times New Roman', sans-serif;
                  font-weight: lighter;
                  font-size: 100%;
                  color: rgb(245, 216, 0);
                  text-shadow: 1px 1px 2px rgba(206, 146, 42, 0.57);
          }

          .banner{
              background: 
              // linear-gradient(0deg, rgba(13,20,33,0.7553221972382703) 0%, rgba(0,0,0,0.5256303204875701) 3%, rgba(0,0,0,0.1922969871542367) 16%, rgba(0,0,0,0) 22%, rgba(0,0,0,0) 100%);
              linear-gradient(0deg, rgba(13,20,33,0.5088235977984944) 0%, rgba(0,0,0,0.31554628687412467) 3%, rgba(0,0,0,0.09425777146796221) 16%, rgba(0,0,0,0) 22%, rgba(0,0,0,0) 100%);
              height: 100%;
              border-radius: 10px;

              //ASSIGN GRID AREA
                  //start
                  grid-row-start: vid;
                  grid-column-start: vid;
                  //end
                  grid-row-end: date;
                  grid-column-end: date;

                  position: relative;
                  z-index: 2;

                  opacity: 100;
                  transition: opacity .25s ease-in-out;
          }
      }

  }
  
}

.foot {
  background-color: rgb(221, 101, 101);
  grid-area: footer;

  .img-acu
  {
  float: left;
  width: 250px;
  height: 132px;
  background:transparent url('../../Video/Thumbnail/theBox.png') center top no-repeat;
  background-size: 125%;
  }

  .img-acu:hover
  {
  background-image: url('../../Video/Preview/theBox.gif');
  }
}



a img.hover {
  display: none;
}
a img.default {
  display: inherit;
}
a:hover img.hover {
  display: inherit;
}
a:hover img.default {
  display: none;
}

