.FilmInstanceContainer {
  // display
  display: flex;
  flex-direction: column;
  // box-model
  // height: 100%;
  // min-height: 100vh;
  /* mobile viewport bug fix */
  height: -webkit-fill-available;

  background: #ffefba; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fdf9ec,
    #ffe8ba
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fcf7e8,
    #ffe8ba
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding-inline: var(--thick-padding);
}
.FilmInstanceOpenAside {
  // display
  display: flex;
  flex-direction: column;
}
.FilmInstanceAsideContainer {
  // display
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // box-model
  height: 100vh;
  padding: 0 calc(1.3 * var(--thick-padding)) 0 calc(1.3 * var(--thick-padding));
}

.FilmInstanceTopNav {
  // display
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // box-model
  margin-block: var(--thick-padding);
}

.FilmInstanceId {
  // display
  display: flex;
  flex-direction: column;
  // box-model
  // margin: 0 var(--thick-padding);
}

.FilmInstanceInfo {
  // display
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  // box-model
  height: 20%;
  margin: 5% 0 5% 15%;
  margin-inline: auto;

  .FilmInstanceInfoButton {
    // type
    text-decoration: underline;
    text-decoration-thickness: 0.4rem;
  }
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
  height: 100%;
  overflow: hidden;
  z-index: 2;

  &.skinny {
    padding-top: 42%;
  }
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.FilmInstancePlayerContainer {
  position: relative;
  z-index: 3;
  margin: auto;
  //max 1rem, 10vw, 48rem clamp(1rem, 10vw, 48rem)
  width: clamp(23rem, 70vw, 90rem);
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: #000000 4px 4px 5px 1px, inset 0px 0px 90px #000000, inset 0px 0px 90px #000000, inset 0px 0px 90px #000000;
}

.FilmInstanceBotNav {
  // display
  display: flex;
  justify-content: space-around;
  align-items: center;
  // box-model
  height: 40%;
  margin-block: auto var(--thick-padding);
}
.FilmInstanceVimeo {
  height: 100%;
  display: flex;
  align-items: center;
}

aside {
  // positioning
  position: fixed;
  top: 0;
  // box-model
  width: 18.75rem;
  height: 100vh;
  z-index: 4;
  background-color: var(--clr-primary-900);
  // misc
  overflow: hidden;
  overflow-y: hidden;
}
