.CardBody {
  // display
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  // box-model
  width: clamp(80%, 80vw, 90%);
  height: clamp(75%, 30vh, 85%);
  max-width: 160ch;
  margin: 0 2rem;
  background-size: cover;
  background-position: center center;
  background-color: var(--clr-neutral-900);
  // type
  text-align: center;
  // manipulation
  transition: box-shadow 0.5s;
  will-change: transform;
  // misc
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  border-radius: 1.5rem;
}

.CardBody:hover {
  // misc
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}

.CardContent {
  // display
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.75fr 0.5fr 1fr 1fr;
  gap: 0px 1%;
  grid-template-areas:
    "cardIcon cardIcon"
    "cardTitle cardTitle"
    "cardCol1 cardCol2"
    "cardCol1 cardCol2";

  // box-model
  height: 100%;
  width: 100%;
}

.CardTitle {
  // display
  display: flex;
  justify-content: center;
  // grid-area
  grid-area: cardTitle;
}
.CardIcon {
  // display
  display: flex;
  justify-content: center;
  // grid-area
  grid-area: cardIcon;
}
.CardCol1 {
  // display
  display: flex;
  justify-content: center;
  // grid-area
  grid-area: cardCol1;
}
.CardCol2 {
  // display
  display: flex;
  justify-content: center;
  // grid-area
  grid-area: cardCol2;
}

.CardList {
  // display
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}
