.AboutContainer {
  // display
  display: flex;
  flex-direction: column;
  // box-model
  background-color: var(--clr-neutral-400);
}

.AboutContent {
  // display
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "AboutDesc AboutEnjoy";
  // box-model
  margin: 0 0 var(--padding) var(--padding);
}

.AboutDesc {
  // display
  display: grid;
  justify-self: center;
  // grid-area
  grid-area: AboutDesc;
  // box-model
  max-width: 200ch;
  padding: 0 0 0 var(--padding);
  margin: 0 0 0 auto;
}

.AboutEnjoy {
  // display
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  // grid-area
  grid-area: AboutEnjoy;
  // box-model
  margin: 0 auto;
}

.AboutImgBox {
  // display
  display: grid;
  align-items: flex-end;
  justify-items: center;
  // box-model
  width: clamp(10rem, 25vw, 40rem);
  min-height: clamp(5rem, 20%, 35rem);
  margin: auto 0;
  background-size: cover;
  background-position: center center;
  // misc
  border-radius: 0.5rem;
  box-shadow: black 0.2rem 0.3rem 0.6rem 0.1rem;
}

.AboutCinema {
  background-image: url("../../Images/About_Enjoy/cinema01.jpg");
  margin-top: 0;
}
.AboutPhilosophy {
  background-image: url("../../Images/About_Enjoy/philosophy01.jpg");
  background-position: 35%;
}
.AboutTravel {
  background-image: url("../../Images/About_Enjoy/travel01.jpg");
  background-position: right;
  margin: auto 0 2rem 0;
}

@media (max-width: 37.5em) {
  .AboutCinema,
  .AboutTravel {
    margin: auto 0 auto 0;
  }
}
