.aboutContainer {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 4rem 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "aboutTitle"
      "aboutContent"; 

    min-height: 40vh;
  }

  .aboutTitle { 
    grid-area: aboutTitle; 
    background-color: rgb(211, 211, 211);

    background-color: var(--clr-neutral-400);

    display: flex;
    justify-content: center; 
    align-items: center;

    /* flex-flow: column; */ 
    flex-direction: column; 

    padding: 1rem;
}

.aboutContent { 
    grid-area: aboutContent; 
    background-color: rgb(180, 180, 180);
    // min-height: 100%;

    display: grid; 
    grid-template-columns: 0.62fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "aboutEnjoy aboutDesc"; 
      

      .aboutEnjoy { 
        grid-area: aboutEnjoy;
        // background-color: rgb(178, 255, 224);
        display: grid;
        justify-content: center;
        padding: 0 1rem 0 1rem;
        // row-gap: .5rem;

        display: flex;
    
        justify-content: flex-start; 
        align-items: center; 
        /* flex-flow: column; */ 
        flex-direction: column;  

        .boxImg{
            border-radius: .5rem;
            background-color: rgb(0, 0, 0);
            width: 7em;
            min-height: 4em;

            margin: auto 0 auto 0;
        }
     }

      .aboutDesc { 
        grid-area: aboutDesc;
        // background-color: rgb(255, 0, 0);   
        max-width: 65ch;
        min-width: 25ch;

        display: grid;

        justify-self: center; 
        // align-items: center;

        padding: 0 1rem 0 1rem;
     }

     .aboutSub{
        font-size: 1.25rem;
        padding-bottom: 1rem;
    }
    .pad__top{
        padding-top: 1rem;
    }
      
}

s{
  height: .5rem;
}