.Border {

    //SET BACKGROUND
        //get border image and slightly darken it
        background-image: linear-gradient(rgba(0, 0, 0, 0.20),
        rgba(0, 0, 0, 0.2)),url('../Images/Backgrounds/bg.jpg');
        //make border fit upon resize
        background-size:100% 100%;

    //RESPONSIVE
        //COME BACK TO MIN-HEIGHT 
        min-height: 86vh;
        //iphone height?
        height: 86vh;

    //CENTER WITHIN DIV
        //flexbox
        display: flex;
        justify-content: center;
        align-items: center;
}
  
.Poster {

    //SET POSTER BACKGROUND
        //background image
        background-image: url('../Images/Backgrounds/poster.jpg') ;
        background-size:cover;
        //fit within poster border
        width: 94.85%;
        height: 95.5%;
        //blur edge
        box-shadow: 0 0 1px 1px #fae2bc7a inset;
        border-radius: .55%;
  
    //MAKE GRID
        //design grid
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-gap: .2rem;
        //create matrix
        grid-template-areas: 
        "r1c1 r1c2 r1c3 r1c4"
        "r2c1 r2c2 r2c3 r2c4"
        "r3c1 r3c2 r3c3 r3c4"
        "r4c1 r4c2 r4c3 r4c4"
        "r5c1 r5c2 r5c3 r5c4"
        "r6c1 r6c2 r6c3 r6c4"
        "r7c1 r7c2 r7c3 r7c4"
        "r8c1 r8c2 r8c3 r8c4";
}
  
.Header{
  
    //ASSIGN GRID AREA
        //start
        grid-row-start: r1c1;
        grid-column-start: r1c1;
        //end
        grid-row-end: r1c4;
        grid-column-end: r1c4;

    //CENTER WITHIN DIV
        //flexbox
        display: flex;
        justify-content: center;
        align-items: center;

    //AESTETIC
        //font and color
        font-family: 'Arsenal', sans-serif;
        font-weight: bolder;
        font-size: 105%;
        color: rgb(255, 218, 11);
        //alignment
        padding-bottom: 0.5rem;
}
  
.MovingHeader{

    //ASSIGN GRID AREA
        //start
        grid-row-start: r1c2;
        grid-column-start: r1c2;
        //end
        grid-row-end: r1c3;
        grid-column-end: r1c3;

    //CENTER WITHIN DIV
        //flexbox
        display: flex;
        justify-content: center;
        align-items: center;
  
    //AESTETIC
        //font and color
        font-family: 'Arsenal', sans-serif;
        font-weight: bolder;
        font-size: 150%;
        color: rgb(255, 218, 11);
        //alignment
        padding-top: 3rem;
}
  
.Title{

    //ASSIGN GRID AREA
        //start
        grid-row-start: r3c1;
        grid-column-start: r3c1;
        //end
        grid-row-end: r4c4;
        grid-column-end: r4c4;

    //CENTER WITHIN DIV
        //flexbox
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

    //AESTETIC
        //font and color
        font-family: 'Josefin Sans', sans-serif;
        font-weight: bolder;
        font-size: 380%;
        color: rgb(255, 251, 241);
        text-shadow: 0 0 2px rgb(248, 231, 191);
}
  
.Bottom{

    //ASSIGN GRID AREA
        //start
        grid-row-start: r8c1;
        grid-column-start: r8c1;
        //end
        grid-row-end: r8c4;
        grid-column-end: r8c4;

    //CENTER WITHIN DIV
        //flexbox
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

    //AESTETIC
        //font and color
        font-family: 'Arsenal', sans-serif;
        font-weight: bolder;
        font-size: 85%;
        color: rgb(255, 218, 11);
        //alignment
        padding-top: 2rem;
        padding-bottom: 1rem;
}