@use "../../App.scss";

.SkillContainer {
  // display
  display: flex;
  flex-direction: column;
  // box-model
  background-color: var(--clr-neutral-400);
}

.SkillGrid {
  // display
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows:
    minmax(0, 0.7fr) minmax(0, 0.3fr)
    minmax(0, 0.2fr) minmax(0, 1fr);
  grid-template-areas:
    "cardToggle"
    "subHeader"
    "titleToggle"
    "roulToggle";
}
@media (max-width: App.$media-800) {
  .SkillRouletteToggle {
    // display
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // grid-area
    grid-area: roulToggle;
    // box-model
    height: 100%;
    width: 100%;
    min-height: 50vh;
  }

  .SkillCardToggle {
    // display
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // grid-area
    grid-area: cardToggle;
    // box-model
    min-width: 90vw;
    height: 100%;
    width: 100%;
  }

  .SkillCardDev,
  .SkillCardFilm,
  .SkillTitleDev,
  .SkillTitleFilm,
  .SkillRouletteDev,
  .SkillRouletteFilm {
    // display
    display: none;
  }
}
@media (min-width: App.$media-800) {
  .SkillGrid {
    // display
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: 1fr;
    grid-template-areas:
      "cardDev cardFilm"
      "subHeader subHeader"
      "titleDev titleFilm"
      "roulDev roulFilm";
  }

  .SkillCardToggle,
  .SkillRouletteToggle,
  .SkillTitleToggle {
    // display
    display: none;
  }

  .SkillCardDev,
  .SkillCardFilm {
    // display
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // box-model
    height: 100%;
    width: 100%;
  }
  .SkillRouletteDev,
  .SkillRouletteFilm {
    // display
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // box-model
    height: 100%;
    width: 100%;
    min-height: 80vh;
    min-height: 50vh;
  }

  .SkillCardDev {
    // display
    display: flex;
    // grid-area
    grid-area: cardDev;
  }
  .SkillCardFilm {
    // display
    display: flex;
    // grid-area
    grid-area: cardFilm;
  }
  .SkillTitleDev {
    // display
    display: flex;
    // grid-area
    grid-area: titleDev;
  }
  .SkillTitleFilm {
    // display
    display: flex;
    // grid-area
    grid-area: titleFilm;
  }
  .SkillRouletteDev {
    // display
    display: flex;
    // grid-area
    grid-area: roulDev;
  }
  .SkillRouletteFilm {
    // display
    display: flex;
    // grid-area
    grid-area: roulFilm;
  }
  .SkillGridSubHeading {
    // display
    display: flex;
    // grid-area
    grid-area: subHeader;
  }
}

.SkillSwitchWrapper {
  // display
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(3rem, 10vw, 8rem);
}
@media (min-width: App.$media-800) {
  .SkillSwitchWrapper {
    // display
    display: none;
  }
}

.SkillSwitchWrapper > * {
  // display
  flex-basis: 100%;
  // misc
  cursor: pointer;
}

.SkillGridSubHeading {
  // display
  display: flex;
  justify-content: center;
  // grid-area
  grid-area: subHeader;
  // box-model
  max-width: clamp(90em, 75%, 110em);
  // type
  text-align: center;
}

.SkillGridTitle {
  // display
  display: flex;
  // box-model
  padding: calc(2 * var(--padding));
  // type
  text-align: center;
}
