.SkillContainer {
  // display
  display: flex;
  flex-direction: column;
  // box-model
  background-color: var(--clr-neutral-400);
}

.SkillGrid {
  //design
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: repeat(2, minmax(0, 1fr));
  justify-items: center;
  align-items: center;

  .card-roulette {
    //design
    display: flex;
    justify-content: center;
    align-items: center;
    // box-model
    height: 100%;
    width: 100%;
    min-height: 80vh;
  }

  .card-skill {
    //design
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // box-model
    min-width: 90vw;
  }
}