@use "../../App.scss";

.FooterContainer {
  //   outline: red 1px solid;
  margin-top: var(--thick-padding);
  display: flex;
  flex-direction: column;
  margin-inline: var(--thick-padding);
  gap: calc(2 * var(--padding));
}

.FooterText {
  display: flex;
  max-width: 55ch;
}

.FooterTopDiv {
  // display
  // display: grid;
  // grid-template-columns: 1fr;
  // grid-template-rows: 1fr 1fr;
  // grid-template-areas:
  // "footerSoc"
  // "footerAbout";

  display: flex;
  flex-direction: column;
  gap: calc(2 * var(--padding));
  margin-inline: auto;
}

.FooterBotDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: App.$media-300) {
  .FooterTopDiv {
    display: inline-grid;
    grid-template-columns: auto auto;
    //     // grid-template-columns:  max-content auto;
    //     grid-template-rows: 1fr;
    grid-template-areas: "footerAbout footerSoc";
    width: clamp(25rem, 70vw, 120rem);
    //     gap: var(--thick-padding);

    //     display: flex;
    // justify-content: space-between;
    // padding-inline: calc(3 * var(--thick-padding));
    // max-width: 50vw;
    // margin-inline: auto;
    // gap: auto;
  }
  .FooterAbout {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: 100%;
  }
  .FooterSoc {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    /* flex-flow: column; */
    flex-direction: column;
  }

  .FooterDivider {
    min-width: clamp(25rem, 70vw, 120rem);
  }
}

.FooterAbout {
  //   outline: rgb(0, 166, 255) 1px solid;
  grid-area: footerAbout;
}

.FooterSoc {
  //   outline: rgb(0, 166, 255) 1px solid;
  grid-area: footerSoc;
}

.FooterTitle {
  text-transform: uppercase;
}

.FooterDivider {
  display: inline-block;
  margin-bottom: calc(2 * var(--padding));
  border-top: 0.4rem solid var(--clr-primary-400);
  width: 25rem;
}

.FooterCopyright {
  // outline: rgb(0, 166, 255) 1px solid;
  margin-bottom: var(--thick-padding);

  display: flex;
  justify-content: center;
  align-items: center;
}

.FooterUnderline {
  border-bottom: 0.1rem solid var(--clr-neutral-400);
}
