.app,body,html{
    background-color: rgb(73, 95, 118);
    margin: 0;
}

/* RESPONSIVE DESIGN */
.gfg-div {

  /* To make all elements center */
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* Default Styling */
//   margin: 20px auto;
//   padding: 30px;
  font-size: 30px;
  width: 300px;
  height: 300px;
  background-color: darkseagreen;
  color: #fff;
  .mySpan span {
      display: none;
      }
      .mySpan:before {
      content: 'For Desktop View';
      }
  }
  
  /* For Desktop View */
  @media screen and (min-width: 1024px) {
  .gfg-div {
      background-color: #63c971;
      color: #fff;
  }
  .mySpan:before {
      display: none;
      }
  .mySpan:after {
      content: 'For Desktop View';
      }
  }
  
  /* For Tablet View */
  @media screen and (min-device-width: 810px)
  and (max-device-width: 1200px) {
  .gfg-div {
      width: 400px;
      height: 400px;
      background-color: orange;
      color: #fff;
  }
  .mySpan:before {
      display: none;
      }
  .mySpan:after {
      content: 'For Tablet View';
      }
  }
  
  /* For Mobile Portrait View */
  @media screen and (max-device-width: 480px)
  and (orientation: portrait) {
  .gfg-div {
      width: 200px;
      height: 200px;
      background-color: red;
      color: #fff;
  }
  .mySpan:before {
      display: none;
      }
  .mySpan:after {
      content: 'For Mobile Portrait View';
      }
  }
  
  /* For Mobile Landscape View */
  @media screen and (max-device-width: 926px)
  and (orientation: landscape) {
  .gfg-div {
      width: 400px;
      height: 200px;
      background-color: cyan;
      color: #fff;
  }
  .mySpan:before {
      display: none;
      }
  .mySpan:after {
      content: 'For Mobile Landscape View';
      }
  }