@import "../../App.scss";

.NavContainer {
  // display
  display: flex;
  justify-content: space-around;
  align-items: center;
  // positioning
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;
  // box-model
  background-color: var(--clr-primary-900);
  width: 100%;
  //  one of the few instances with explicit height
  height: 3em;
  // type
  color: var(--clr-neutral-400);
  text-decoration: none;
// manipulation
  transition: all 700ms cubic-bezier(0.65, 0.05, 0.36, 1);
}

@media (max-width: $media-300){

    .NavContainer{
        justify-content: flex-start; 
        align-items: center; 
        /* flex-flow: column; */ 
        flex-direction: column;
        color: red;
        align-items: center;
        // height: 7em;
        // gap: 1em;
        // height: 70vh;
    }

    .NavContainer > * {
        background-color: var(--clr-primary-900);
        border:  var(--clr-neutral-400) 2px solid;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 1em 0;
    }
    .NavHidden {
    // positioning
    top: -90%;
    // box-model
    background-color: var(--clr-primary-400);
}

}

.NavShowing {
    // box-model
  background-color: var(--clr-primary-900);
}

.NavHidden {
    // positioning
    top: -3em;
    // box-model
    background-color: var(--clr-primary-400);
}


