@use "../../App.scss";

.NavContainer {
  // --value: 30rem;
  --nav-height: 0;

  background-color: var(--clr-navbar);
  text-align: right;
  position: sticky;
  top: var(--nav-height);
  z-index: 999;
  width: 100%;
  // padding: 0.5em 0;
  // height: var(--value) ;
  // height:200px;
  // manipulation
  transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1);

  // transition-property: all;
  // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  // transition-duration: 500ms;
  // border-bottom: .4rem var(--clr-neutral-900) solid;
}

.NavContainer.NavDown {
  // positioning
  --nav-height: var(--NavDynamicHeight);
}

.NavLogo {
  height: clamp(5rem, -14.5rem + 26vw, 6.3rem);
  // height: var(--NavHeight);
  display: flex;
  justify-content: left;
  align-items: center;
  margin-inline: 1em;
}

.NavLinkContainer {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background-color: var(--clr-navbar);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
  color: var(--clr-neutral-400);

  &.NavShowing {
    // display: none;
    transform: scale(1, 1);

    .NavListItem {
      opacity: 1;

      transform: scale(1, 1);
      transform-origin: bottom;
      transition: opacity 1050ms ease-in-out 300ms;
      transition: transform 300ms ease-in-out 200ms;
    }
  }
}

.NavListItem {
  margin: 0 1em;
  margin-bottom: 1em;
  text-transform: uppercase;
  font-weight: var(--fw-skinny);
  opacity: 0;

  transform: scale(1, 0);
  transition: opacity 250ms ease-in-out;

  display: flex;
  justify-content: center;
}

.NavListItem:hover {
  font-weight: var(--fw-bold);
  // background-color: var(--clr-navbar-hover);

  a {
    background-color: var(--clr-navbar-hover);
    padding-inline: 1em;
    border-radius: 1.5rem;
  }
}

.NavMobileToggler {
  position: absolute;
  top: 0;
  right: 0;
  margin-inline: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

@media (min-width: App.$media-600) {
  // .NavContainer {
  // }
  // .NavHidden {

  // }
}
