@import "../../App.scss";

.NavContainer {
// --value: 30rem;
--new-val: 0;

  background-color: var(--clr-navbar);
  text-align: left;
  position: sticky;
  top: var(--new-val);
  z-index: 999;
  width: 100%;
  padding: 0.5em 0;
  // height: var(--value) ;
  // height:200px;
  // manipulation
  transition: top .3s;

  // transition-property: all; 
  // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  // transition-duration: 500ms;
}

.NavContainer.NavDown {
  
    // positioning
    --new-val: var(--NavHeight);
    // --old-val:  -7.8rem;
    // --new-val:var(--old-val);
    // --new-val:  calc(-7 - .8)rem;
    // // top: calc(-1 * var(--value));
    // top: calc(-1 * var(--new-val));
    // transform: translateY(var(--new-val));
// transform: translateY(-7.8rem);
    // top: calc(-1 * var(--NavHeight));
    // top: var(--new-val);

    // transform: translatey(calc(-1 * var(--NavHeight)));
    // top: -200px;
    // box-model
    // background-color: var(--clr-primary-400);
    // transition: all 700ms cubic-bezier(0.65, 0.05, 0.36, 1);
    // transition: transform 1s ease 0s;
    // transition: top 700ms cubic-bezier(0.65, 0.05, 0.36, 1) 300ms;
  }

.NavLogo {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NavLinkContainer {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background-color: var(--clr-navbar);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;

  &.NavShowing {
    // display: none;
    transform: scale(1, 1);

    .NavListItem {
      opacity: 1;

      transform: scale(1, 1);
      transform-origin: bottom;
      transition: opacity 1050ms ease-in-out 300ms;
      transition: transform 300ms ease-in-out 200ms;
    }
  }
}

.NavListItem {
  margin: 0 1em;
  margin-bottom: 1em;
  text-transform: uppercase;
  font-weight: var(--fw-skinny);
  opacity: 0;

  transform: scale(1, 0);
  transition: opacity 250ms ease-in-out;

  display: flex;
  justify-content: center;
}

.NavListItem:hover {
  font-weight: var(--fw-bold);
  // background-color: var(--clr-navbar-hover);

  a {
    background-color: var(--clr-navbar-hover);
    padding-inline: 1em;
    border-radius: 1.5rem;
  }
}

.NavMobileToggler {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}


@media (max-width: $media-300) {
  // .NavContainer {
  // }
  // .NavHidden {

  // }
}