
.containerStyle{
    position: relative;
      height: 90%;
      width: 90%;
    //   display: flex;
    //   flex: 1;
    //   justify-content: center;
    //   align-items: center;
 
    // background-color: peru;

        display: flex;
        justify-content: center; 
        align-items: flex-end;

        justify-items: center;
        align-content: center;

        background-color: rgb(146, 222, 255) 3px solid;

        // margin: 0 auto;
}

.rouletteStyle{
    height: 40em;
    width: 60vw;
    width: clamp(15em, 60vw, 30em);
    width: 20em;
    // padding-top: 5rem; clamp(15em, 60vw, 30em);
    // text-align: center;
    // background: #52C0F5;
    // background-image: url("/Images/Backgrounds/bg-2.jpg");
    // color: #FFF;
    // font-family: sans-serif;
    // font-size: 12px;
    // text-transform: uppercase;
    border-radius: 10px;
    box-sizing: border-box;

    // margin: 0 auto;

    // padding: 2rem;
    padding: 0 4rem;
     background-color:var(--clr-primary-900);
    border-radius: 1.5rem;
    box-shadow: var(--clr-dark) 0.2rem 0.3rem 0.6rem 0.1rem;
    display: none;
}
@media (min-width: 50em) and (max-width: 64em)
{
  .rouletteStyle{
    display: flex;
    height: 75vh;
    width: clamp(30rem, 70vw, clamp(36rem, 70vw, 40rem));
  }
}
@media (min-width: 64em) 
{
  .rouletteStyle{
    display: flex;
    height: 25em;
    width: 35em;

    height: 75vh;
    width: clamp(30rem, 70vw, clamp(36rem, 70vw, 40rem));
  }
}

.insideRoulette {
    height: 100%;
    width: 100%;

    margin: 0 auto;

   

    // outline:#f552d7 solid 3px;
    // padding: 0 4rem;
  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1fr;
    grid-template-areas:
      "steps"
      "examples";
  }

  // .StepContainer{

  // }
  
  .steps {
    grid-area: steps;
  
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    max-width: 22ch;

    display: flex;
    
    justify-content: space-evenly; 
    align-items: center; 
    /* flex-flow: column; */ 
    flex-direction: column;  
    align-content: center;
    flex-basis: 1;

    flex: 1 0 auto;

    margin: 0 auto;

  }
  .examples {
    grid-area: examples;
    display: flex;
    justify-content: center;

    padding-left: 3rem;

    // display: flex;
    
    // justify-content: space-evenly; 
    // align-items: center; 
    // /* flex-flow: column; */ 
    // flex-direction: column;  
    // align-content: stretch;

  }
  
  .list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  
    // background-color: rgb(254, 195, 205, 0.8);
  }
  
  /* li {
    flex: 1 1 auto;
    margin: 10px;
  } */
  
  .listItem {
    display:list-item;
    list-style: circle;
    flex: 1 0 auto;
    margin: 10px;
    max-width: 25ch;
  }